/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/03/2016, 13:59:13
    Author     : heitor.siqueira
*/

/* Smaller than standard 960 (devices and browsers) */
/* 
    BTN-INFO - TAMANHO DOS BOTOES DE NAVEGA��O
    FORM - TAMANHO DO TEXTO ACIMA DOS CAMPOS DE INSER�AO  



*/ 
@media only screen and (max-width: 1617px) {

    .btn-info{
        font-size:100%;
        color:  white;
    }

}
@media only screen and (min-width: 1375px) and (max-width: 1616px) {
    .btn-info {
        font-size: 95%;
        color: white ;
    }
    .form {
        font-size: 95%;
        color: black ;
    }
    .form-control{
       font-size: 95%; 
    }

}
@media only screen and (min-width: 1189px) and (max-width: 1374px) {
    .btn-info {
        font-size: 90%;
        color: white;
    }
    .form {
        font-size: 90%;
        color: black ;
    }
    .form-control{
       font-size: 90%; 
    }

}


/* Tablet Portrait size to standard (devices and browsers) */
@media only screen and (min-width: 880px) and (max-width: 1188px) {
    .btn-info {
        font-size: 85%;
        color: white ;
    }
    .form {
        font-size: 85%;
        color: black ;
    }
    .form-control{
       font-size: 85%; 
    }
    

}
/* Tablet Portrait size to standard  (devices and browsers) */
@media only screen and (min-width: 500px) and (max-width: 879px) {
    .btn-info {
        font-size: 75%;
        color:  white ;
    }
    .form {
        font-size: 75%;
        color: black ;
    }
    
    .form-control{
       font-size: 75%; 
    }

    
}


/* Tablet Portrait size to standard  (devices and browsers) */
@media only screen and (max-width: 500px) {
    .btn-info {
        font-size: 70%;
        color: white ;
    }
    .form {
        font-size: 70%;
        color: black ;
    }
    .form-control{
       font-size: 70%; 
    }
    
}

    




