/* 
    Created on : 13/11/2014, 01:36:42
    Author     : Gabriel
*/


.ulAbas{
    background-color: #579ce9
    
}

.ulAbas li a{

    color: white
}

.ulAbas li a:hover{

    color: black
}

#divGoogle{

    -webkit-transition:width 0.5s ease-in-out;
}

#iconeGoogle:hover{

}
#chat {
    margin-top: 50px;
    padding: -1px;
    position: fixed;
    top: 0;
    background-color: #fcfcfc;
    height: 100%;
    width: 250px;
    right: -300px;
    border-left: solid 2px #579ce9;
    overflow-y: auto
}

.chat-usuario-online{
    background-color: lightgreen;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 7px;
    box-shadow: 1px 1px 10px green;
}

.chat-usuario-online:hover{
    background-color: green;
}

.chat-usuario-offline{
    background-color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 7px;
    box-shadow: 1px 1px 10px grey;
}

.chat-usuario-offline:hover{
    background-color: grey;
}

.chat-usuario-ocupado{
    background-color: lightcoral;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 7px;
    box-shadow: 1px 1px 10px red;
}

.chat-usuario-ocupadohover{
    background-color: red;
}

div_bloqueio { /* div you want to stretch */
    background-color: green;
    height: 100%; /** IE 6 */
    min-height: 100%;
}